<mat-toolbar color="primary">
  <span>Fitness App</span>
  <span class="spacer"></span>
</mat-toolbar>

<div>

  <mat-form-field class="example-full-width">
    <mat-label>Update weight</mat-label>
    <input matInput [(ngModel)]="newWeightValue" name="newWeightValue" placeholder="New weight" type="number">
  </mat-form-field> 


  <!-- <p>Current weight: {{ weight }}</p>
  <input [(ngModel)]="newWeightValue" placeholder="New Weight"> -->
  <button mat-raised-button color="primary"(click)="modifyWeight()">Modify Weight</button>
  <p>The target calories have been met on {{ daysMetTarget }} days.</p>
  <ul>
    <li *ngFor="let date of daysMetTargetDates">{{ date }}</li>
  </ul>


  
  <h3>Modify Target Weight</h3>
  <form (ngSubmit)="modifyTargetWeight()">
    <mat-form-field>
      <mat-label for="targetWeight">Target Weight:</mat-label>
      <input id="targetWeight" [(ngModel)]="newTargetWeight" name="targetWeight" placeholder="New Target Weight" required matInput>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Update Target Weight</button>
  </form>
</div>

  <!-- <ng-template #noPreferences>
    <p>No preferences set. </p>
    <form [formGroup]="preferencesForm" (ngSubmit)="onSubmit()">
      <input formControlName="height" placeholder="Height">
      <input formControlName="weight" placeholder="Weight">
      <input formControlName="age" placeholder="Age">
      <input formControlName="dietary_restrictions" placeholder="Dietary Restrictions">
      <input formControlName="preferred_intensity_level" placeholder="Preferred Intensity Level">
      <input formControlName="preferred_workout_duration" placeholder="Preferred Workout Duration">
      <input formControlName="target_weight" placeholder="Target Weight">
      <button type="submit">Add Preferences</button>
    </form>
  </ng-template>
</div> -->

<!-- <ng-template #loading>
  <p>Loading...</p>
</ng-template> -->

<h2>Meals history</h2>

<div *ngIf="mealsByDay">
  <div *ngFor="let day of mealDays">
    <h3>{{ day }}</h3>
    <table mat-table [dataSource]="mealsByDay[day]" class="mat-elevation-z8">

      <!-- Meal Name Column -->
      <ng-container matColumnDef="mealName">
        <th mat-header-cell *matHeaderCellDef> Meal Name </th>
        <td mat-cell *matCellDef="let meal"> {{ meal.mealName }} </td>
      </ng-container>

      <!-- Calories Column -->
      <ng-container matColumnDef="calories">
        <th mat-header-cell *matHeaderCellDef> Calories </th>
        <td mat-cell *matCellDef="let meal"> {{ meal.calories }} </td>
      </ng-container>

      <!-- Carbohydrates Column -->
      <ng-container matColumnDef="carbohydrates">
        <th mat-header-cell *matHeaderCellDef> Carbohydrates </th>
        <td mat-cell *matCellDef="let meal"> {{ meal.carbohydrates }} g</td>
      </ng-container>

      <!-- Fats Column -->
      <ng-container matColumnDef="fats">
        <th mat-header-cell *matHeaderCellDef> Fats </th>
        <td mat-cell *matCellDef="let meal"> {{ meal.fats }} g</td>
      </ng-container>

      <!-- Protein Column -->
      <ng-container matColumnDef="protein">
        <th mat-header-cell *matHeaderCellDef> Protein </th>
        <td mat-cell *matCellDef="let meal"> {{ meal.protein }} g</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>